@model UpdateServiceDto
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}

<form method="post">
    <label>Hizmet İkonu</label>
    <input type="hidden" asp-for="ServiceID" />
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span asp-validation-for="ServiceIcon" class="text-info"></span>
    <br />

    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-info"></span>

    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-info"></span>
    <br />

    <button class="btn btn-primary">Hizmeti Güncelle</button>
</form>
